# Python 관련 파일
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# 가상 환경
venv/
ENV/
env/
.env

# IDE 관련 파일
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# macOS 관련 파일
.DS_Store
.AppleDouble
.LSOverride
._*

# 기타 파일
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
.pytest_cache/
coverage.xml
*.cover
.coverage.*

# MkDocs 사이트 빌드 디렉토리
site/
